body {
  font-family: Arial;
  margin: 0;
  background: #eef2ff;
  text-align: center;
}

header {
  background: #2b6cb0;
  color: white;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: white;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card:hover {
  background: #2b6cb0;
  color: white;
}
