body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f2f6ff;
  text-align: center;
}

header {
  background-color: #2b6cb0;
  color: white;
  padding: 20px;
}

.container {
  padding: 20px;
}

.btn {
  display: inline-block;
  background: #2b6cb0;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 5px;
}

.card {
  background: white;
  margin: 10px auto;
  padding: 15px;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
